= form_for @climb, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :user_id, :class => 'control-label'
    .controls
      = f.text_field :user_id, :class => 'text_field'
  .control-group
    = f.label :route_id, :class => 'control-label'
    .controls
      = f.text_field :route_id, :class => 'text_field'
  .control-group
    = f.label :attempted_on, :class => 'control-label'
    .controls
      = f.text_field :attempted_on, :class => 'text_field'
  .control-group
    = f.label :success, :class => 'control-label'
    .controls
      = f.text_field :success, :class => 'text_field'
  .control-group
    = f.label :rating, :class => 'control-label'
    .controls
      = f.text_field :rating, :class => 'text_field'
  .control-group
    = f.label :comment, :class => 'control-label'
    .controls
      = f.text_field :comment, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), climbs_path, :class => 'btn'
