= form_for @climb do |f|
  - if @climb.errors.any?
    #error_explanation
      %h2= "#{pluralize(@climb.errors.count, "error")} prohibited this climb from being saved:"
      %ul
        - @climb.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :route
    = f.text_field :route
  .field
    = f.label :attempted_on
    = f.datetime_select :attempted_on
  .field
    = f.label :success
    = f.check_box :success
  .field
    = f.label :rating
    = f.text_field :rating
  .field
    = f.label :comment
    = f.text_area :comment
  .actions
    = f.submit 'Save'
