.span.pull-right
  = link_to 'Log a Climb', new_climb_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th Problem
      %th Attempted
      %th Grade
      %th Success
      %th Comment
      %th
  %tbody
    - @climbs.each do |climb|
      %tr
        %td= link_to climb.problem, climb
        %td= climb.attempted_on
        %td= climb.grade
        %td= climb.success
        %td= climb.comment
        %td
          .pull-right
            = link_to edit_climb_path(climb), class: 'btn btn-mini' do
              %i.icon-edit

- content_for :back do
  = link_to '< Back', '#', class: 'btn'

- content_for :title do
  My Climbs

