%h1 Users

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Top Rope Score
      %th Bouldering Score
      %th Last Climb
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user_path(user)
        %td= user.cul_top_rope_score
        %td= user.cul_bouldering_score
        %th
          = link_to user.climbs.last do
            %span.label{class: user.climbs.last.success ? 'label-success' : ''}= user.climbs.last.problem.name
            
