%h1= @user.name

%dl
  %dt Grade
  %dd= @user.grade
  %dt Avg Top Rope
  %dd= @user.avg_top_rope_score
  %dt Avg Bouldering
  %dd= @user.avg_bouldering_score
  %dt Climber Score
  %dt= @user.cul_top_rope_score + @user.cul_bouldering_score

%h2 Recent Climbs
%ul
  - @user.climbs.order('attempted_on DESC').limit(10).each do |climb|
    %li
      = link_to [climb.problem.gym, climb.problem] do
        = climb.success ? 'Completed ' : 'Attempted '
        = climb.problem
        = distance_of_time_in_words_to_now climb.attempted_on
        ago
