= form_for [@gym, @route], html: { multipart: true } do |f|
  - if @route.errors.any?
    #error_explanation
      %h2= "#{pluralize(@route.errors.count, "error")} prohibited this route from being saved:"
      %ul
        - @route.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :active
    = f.check_box :active
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :grade
    = f.text_field :grade
  .field
    = f.label :photo
    = image_tag(@route.photo_url) if @route.photo?
    = f.file_field :photo
    = f.hidden_field :photo_cache

  .actions
    = f.submit 'Save'
