= form_for [@gym,@route], :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :gym_id, :class => 'control-label'
    .controls
      = f.text_field :gym_id, :class => 'text_field'
  .control-group
    = f.label :active, :class => 'control-label'
    .controls
      = f.text_field :active, :class => 'text_field'
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :raiting, :class => 'control-label'
    .controls
      = f.text_field :raiting, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), gym_routes_path, :class => 'btn'
