%p#notice= notice

%p
  %b Gym:
  = @route.gym
%p
  %b Active:
  = @route.active
%p
  %b Name:
  = @route.name
%p
<<<<<<< HEAD
  %strong= model_class.human_attribute_name(:grade) + ':'
  %br
=======
  %b Raiting:
>>>>>>> a7c3d29cd81c605606916fe7b21ce808692ee16e
  = @route.raiting

.thumbnails
  = image_tag(@route.photo_url, class: :remote_image_url) if @route.photo?

= link_to 'Edit', edit_gym_route_path(@gym, @route)
\|
= link_to 'Back', gym_routes_path(@gym)
