%p#notice= notice

%p
  %b Gym:
  = @route.gym
%p
  %b Active:
  = @route.active
%p
  %b Name:
  = @route.name
%p
  %b Grade:
  = @route.grade
%p
  %b Height (feet):
  = @route.height

.thumbnails
  = image_tag(@route.photo_url, class: :remote_image_url) if @route.photo?

= link_to 'Edit', edit_gym_route_path(@gym, @route)
\|
= link_to 'Back', gym_routes_path(@gym)
